<!DOCTYPE html>
<html lang="en">
	<head>
		<%-include('partials/head')%>
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "BreadcrumbList",
				"itemListElement": [
					{
						"@type": "ListItem",
						"position": 1,
						"name": "boxe-depozitare.ro",
						"item": "https://www.boxe-depozitare.ro/"
					},
					{
						"@type": "ListItem",
						"position": 2,
						"name": "sfaturi",
						"item": "https://www.boxe-depozitare.ro/sfaturi"
					}
				]
			}
		</script>

		<link rel="stylesheet" href="/icons/icons.css" />
		<link rel="stylesheet" href="/mobile/stylesheets/partials.css" />
		<link rel="stylesheet" href="/mobile/stylesheets/sfaturi.css" />
	</head>

	<body>
		<%-include('partials/body')%>
		<%-include('partials/navbar')%> <%-include('partials/cookie')%>

		<main>
			<section id="map">
				<div>
					<a href="/" title="Acasa">Acasa</a>
					<span class="icon-arrow"></span>
					<p>Prețuri</p>
				</div>
			</section>

			<section id="one">
				<h1> Sfaturi și sugestii </h1>
				<div id="articles">
					<%data.articles.forEach(item=>{%> <% let content=JSON.parse(item.continut) %> <% content=content.div %>
					<div class="item">
						<div class="content">
							<div class="image">
								<img src="/<%=item.imagine%>" alt="Sfaturi ambalare și protejare mobilă și obiecte personale (imagine)" />
							</div>
							<div class="text-content">
								<h3> <%=content[0].h2%> </h3>
								<p> <%=content[0].p%> </p>
								<p> <%=content[1].p%> </p>
								<a href="/sfaturi/<%=item.id2%>" title="<%=content[0].h2%>">Citește mai mult</a>
							</div>
						</div>
					</div>
					<%})%>
				</div>
			</section>

			<div id="article-status">
				<button class="action-button" onclick="bindLoadArticles()">Urmatoarea pagină</button>
				<div class="loader"></div>
				<div class="endMessage">
					<div class="fadedLine"></div>
					<p>Sfarsitul rezultatelor</p>
					<div class="fadedLine"></div>
				</div>
			</div>
		</main>

		<%-include('partials/footer')%>

		<script src="/mobile/scripts/partials.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="/mobile/scripts/sfaturi.js"></script>
	</body>
</html>
